.scroller-container {
    display: flex;
    align-items: center; 
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    padding: 0px 0px;
    /* overflow: hidden; */
    height: 310px;
    /* border: 1px solid black; */
    white-space: 'nowrap';
  }
  
  .content {
    display: flex;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    width: 1000%;
    padding: 0px 0px;
    /* overflow: hidden; */
    /* border: 1px solid blue; */
  }


  .slider-slide {
    /* width: 100%; */
    width: 300px; 
    padding: 20px; /* Add spacing between slides */
    box-sizing: border-box; /* Include padding in slide width */
    /* border: 1px solid black; */
    display: flex;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
  
  }
  
  .slider-slide img{
    /* width: 100%; */
    width: 300px; 
    padding: 20px; /* Add spacing between slides */
    /* border: 1px solid black; */
  
  }
  
  
  .exped img{
    /* border: 1px solid black; */
    width: 200px;
    height: 200px;
    /* width: 200px; */
    margin: 0px;
  }
  
  

