
.square-container {
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: flex-start;
    align-items: center;
  }
  
  .square {
    margin: 20px;
  }
  