#interestsSection {
  padding: 10px 5px;
  background-color: rgb(248, 238, 225);;
}

.hyperlink-logo {
  /* border: 1px solid black; */
  height: 16px;
  width: 16px;
  margin-left: 2px;
}



/* This allows for scrolling: */
.scroll {
overflow-y: scroll; 
}

.DIY {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.DIY video {
  width: 90vw;
  max-height: 90vh;
  padding: 5px;
}

.reading img {
  width: 80vw;;
}

.solo {
  max-width: 70vw;
  height: auto;
}

.move-animation-right {
  transform: translateX(1000px);
  }

  .move-animation-left {
    transform: translateX(-1000px);
    }



/* ----------------------------------------------------------------- */
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
    /* overflow-y: hidden; */
}

.img-container img {
  padding: 5px;
}


@media (min-width: 900px) and (max-width: 1800px) {
  .img-container img {
    width: 50%
  }
}

/* ----------------------------------------------------------------- */

/* Mobile devices */
@media (max-width: 767px) {

}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Desktop devices */
@media (min-width: 1024px) {
}